<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.petpal">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Petpal">
        <activity
            android:name="com.GC200451204.petpal.UserProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200451204.petpal.SmsActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200451204.petpal.SiginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.GC200451204.petpal.PetInformationActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200451204.petpal.GridRecyclerActivity"
            android:exported="true" />
        <activity
            android:name=".RecyclerListActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200451204.petpal.PetListActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200451204.petpal.AddPetDetailsActivity"
            android:exported="true" />
        <activity
            android:name="com.GC200451204.petpal.MainActivity"
            android:exported="true" />
    </application>

</manifest>